/*------------------------------------*\
  # Base styles
\*------------------------------------*/

@use "../abstracts/variables";
@use "../abstracts/mixins";
*,
*::before,
*::after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: variables.$font-family-ubuntu;
  font-size: medium;
  line-height: 24px;

  color: variables.$sabero-black;
  background-color: variables.$website-bg;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  gap: 1rem;

  @include mixins.design-for("tablet") {
    gap: 2rem;
  }
}

section {
  max-width: 2000px;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;

  background-color: variables.$section-bg;

  box-shadow: 0 .5rem 1rem variables.$shadow-color;
  border-radius: variables.$radius;

  @include mixins.design-for("tablet") {
    margin: 2rem;
    gap: 2rem;
  }
}

footer {
  background-color: variables.$footer-bg;
}

h1 {
  font-family: variables.$font-family-ubuntu;
  font-size: 3rem;
  font-weight: bold;

  @include mixins.design-for("tablet") {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 2rem;

  @include mixins.design-for("tablet") {
    font-size: 3rem;
  }
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;

  @include mixins.design-for("tablet") {
    font-size: 2rem;
  }
}

p {
  font-size: 1rem;

  @include mixins.design-for("tablet") {
    font-size: 1.5rem;
  }
}