@use "../variables";

.comment__card {
  background-color: variables.$card-bg;
  padding: 1rem;

  border-radius: variables.$radius;

  display: grid;
  grid-template-columns: auto auto;

  // box-shadow: 0 .5rem 1rem variables.$shadow-color;
}

.comment__rating {
  display: inline-block;
}