

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.comment {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include design-for("tablet") {
      gap: 2rem;
    }
  } 

  &__card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    
    background-color: $card-bg;
    border-radius: $radius;

    @include design-for("tablet") {
      gap: 1rem;
    }

    &-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include design-for("tablet") {
        flex-direction: row;
      }
    }
  }

  &__rating {
    display: inline-block;
    font-size: 2rem;
    text-shadow: 1px 1px 3px $shadow-color;

    @for $i from 1 through 5 {
      &[data-rating="#{$i}"] {
        &::before {
          color: $sabero-gold;
          content: rating-star($i);
        }

        &::after {
          color: $sabero-gray;
          content: rating-star(5 - $i);
        }
      }
    }
  }
}