/*------------------------------------*\
  # Navbar styles
\*------------------------------------*/

@use "../abstracts/variables";
@use "../abstracts/mixins";

.menu {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  transition: all .4s ease-in-out;
  background-color: variables.$navbar-bg;

  @include mixins.design-for("desktop") {
    top: 3rem;
    left: 3rem;
    right: 3rem;
    
    flex-direction: row;
    justify-content: space-between;

    padding-left: 4rem;
    padding-right: 4rem;

    border-radius: 100px;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  &__logo-img {
    height: 3rem;

    @include mixins.design-for("tablet") {
      height: 5rem;
    }
  }

  &__logo-text {
    font-size: 1.5rem;

    @include mixins.design-for("tablet") {
      font-size: 3rem;
    }
  }

  &__button {
    display: contents;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: auto;
    gap: 0.5rem;

    background-color: transparent;
    border: none;

    @include mixins.design-for("tablet") {
      display: none;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ .menu__list {
      display: flex;
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-top: 0.5rem;

    @include mixins.design-for("tablet") {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      margin-top: 0;
    }
  }

  &__item {
    margin-right: 0;

    list-style: none;

    @include mixins.design-for("tablet") {
      margin-right: 1rem;
    }
  }

  &__link {
    text-decoration: none;
  }
}