/*------------------------------------*\
  # Hero section styles
\*------------------------------------*/



@use "../abstracts/variables";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: url("../../assets/images/playa-sabero.jpeg") no-repeat center center;
  background-size: cover;

  &__text {
    height: max-content;

    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 1rem;

    color: variables.$sabero-gray;
  }

  /*------------------------------------*\
    # Stepped title
  \*------------------------------------*/

  &__stepped-title {
    display: flex;
    flex-direction: column;
    width: 100vh;
    gap: 5rem;
  }

  &__stepped-title .hero__text:nth-child(1) {
    align-self: flex-start;
  }

  &__stepped-title .hero__text:nth-child(2) {
    align-self: center;
  }

  &__stepped-title .hero__text:nth-child(3) {
    align-self: flex-end;
  }
}

