/*------------------------------------*\
  # Hero section styles
\*------------------------------------*/
@use "../abstracts/variables";
@use "../abstracts/mixins";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: url("../../assets/images/playa-sabero.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__text {
    height: max-content;
    line-height: 1rem;

    font-size: 8vw;
    font-weight: bolder;
    letter-spacing: .5rem;
    text-align: center;

    color: variables.$sabero-gray;

    // @include mixins.design-for("tablet") {
    //   font-size: 4rem;
    // }

    @include mixins.design-for("desktop") {
      font-size: 5rem;
    } 
  }

  /*------------------------------------*\
    # Stepped title
  \*------------------------------------*/

  &__stepped-title {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5rem;

    @include mixins.design-for("tablet") {
      flex-direction: column;
    }

    @include mixins.design-for("desktop") {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }

    & .hero__text:nth-child(1) {
      align-self: center;

      @include mixins.design-for("tablet") {
        align-self: flex-start;
      }
    }

    & .hero__text:nth-child(2) {
      align-self: center;

      @include mixins.design-for("tablet") {
        align-self: center;
      }
    }

    & .hero__text:nth-child(3) {
      align-self: center;

      @include mixins.design-for("tablet") {
        align-self: flex-end;
      }
    }
  }
}
