<header>
  <nav class="menu">
    <a class="menu__logo menu__link" href="#home">      
      <img class="menu__logo-img" src="./assets/images/escudo-sabero.png" alt="Escudo de Sabero">
      <p class="menu__logo-text">Playa Fluvial de Sabero</p>
    </a>
    <ul class="menu__list">
      <!-- <li class="menu__item"><a class="menu__link" href="#home">Inicio</a></li> -->
      <li class="menu__item"><a class="menu__link" href="#environment">El Río</a></li>
      <li class="menu__item"><a class="menu__link" href="#activities">Actividades</a></li>
      <li class="menu__item"><a class="menu__link" href="#galery">Galería</a></li>
      <li class="menu__item"><a class="menu__link" href="#comments">Comentarios</a></li>
    </ul>
  </nav>
</header>