<section id="activities" class="activities">
    <h2 class="section__title">Actividades cercanas</h2>    

    <div class="activities__grid">

      <div class="activities__card">
        <img  class="activities__card-image" src="./assets/images/activities/museo-sabero.jpg" alt="Museo siderurgia y minería de Castilla y León">
        <div class="activities__card-content">
          <h3 class="activities__card-title">Museo siderurgia y minería</h3>
          <p class="activities__card-description">Descubre el fascinante legado industrial en la antigua Ferrería de San Blas, el primer alto horno de España.</p>
        </div>
      </div>

      <div class="activities__card">
        <img class="activities__card-image" src="./assets/images/activities/cueva-valdelajo.webp" alt="Formaciones geológicas en la Cueva de Valdelajo">
        <div class="activities__card-content">
          <h3 class="activities__card-title">Cueva de Valdelajo</h3>
          <p class="activities__card-description">Una joya geológica escondida con impresionantes estalactitas y estalagmitas formadas durante milenios.</p>
        </div>
      </div>

      <div class="activities__card">
        <img class="activities__card-image" src="./assets/images/activities/Rapidos-esla.jpg" alt="Rápidos en el río Esla">
        <div class="activities__card-content">
          <h3 class="activities__card-title">Rápidos en el Esla</h3>
          <p class="activities__card-description">Descubre la emoción de navegar los rápidos del río Esla, una experiencia única para los amantes de la agua.</p>
        </div>
      </div>

      <div class="activities__card">
        <img class="activities__card-image" src="./assets/images/activities/puente-tibetano.jpg" alt="Ruta de senderismo por las montañas de Sabero">
        <div class="activities__card-content">
          <h3 class="activities__card-title">Rutas y Miradores</h3>
          <p class="activities__card-description">Recorre las rutas con vistas espectaculares al valle de Sabero.</p>
        </div>
      </div>

    </div>
</section>