<section id="comments" class="comment">
  <h2>Reseñas de los usuarios</h2>

  <div class="comment__list">

    <div class="comment__card">
      <h3 class="comment__author">Sergio López Nieto</h3>
      <span class="comment__rating" data-rating="5"></span>
      <p class="comment__text">Una zona super tranquila donde parar a comer, a descansar un rato o a pasar la noche en su amplia zona de aparcamiento. A orillas del rio Esla puedes disfrutar de un rico baño en sus frescas aguas. Tiene dos vias ferratas y varias zonas de escalada cercanas, varios senderos que pasan por la zona y caminatas muy chulas cerca. Tiene fuente con agua potable.
      </p>
    </div>

    <div class="comment__card">
      <h3 class="comment__author">Comboneta</h3>
      <span class="comment__rating" data-rating="5"></span>
      <p class="comment__text">Fantástico lugar para pasar el día, dispone de un buen aparcamiento en el que se puede pernoctar zona con bancos y mesas, zonas de sombra, fuente con agua potable y acceso al rio para darse in baño, muy recomendado, zona preciosa con muchas rutas de senderismo.
      </p>
    </div>

    <div class="comment__card">
      <h3 class="comment__author">Dave Gee</h3>
      <span class="comment__rating" data-rating="5"></span>
      <p class="comment__text">Lugar precioso y con una buena onda increíble. Se está de lujo, nada 
        concurrido y cómodo. Pero si vas con idea de playa de baño olvídalo, el agua más fría que 
        jamas he catado y además el rio lleva mucha fuerza, sería de locos.
      </p>
    </div>
    
    <div class="comment__card">
      <h3 class="comment__author">Yolanda González Carro</h3>
      <span class="comment__rating" data-rating="4"></span>
      <p class="comment__text">Muy muy bonito y tranquilo. Tiene mucho espacio verde y zona de picnic con mesas y sillas a la sombra. En la zona se puede ver la Campeona y sus vistas excepcionales, la Virgen de la Velilla o el embalse de Riaño...
      </p>
    </div>

    <div class="comment__card">
      <h3 class="comment__author">Conchi Robles de la Puente</h3>
      <span class="comment__rating" data-rating="5"></span>
      <p class="comment__text">Lugar muy tranquilo para descansar, leer, estar en silencio y disfrutar del aire libre. Tiene fuente, algunas mesas y sombras. En cualquier estación del año, unos rayos de sol son aprovechables aquí.
      </p>
    </div>

  </div> <!-- .comment__list -->
</section>