<section id="gallery" class="gallery">
  <h2 class="section__title">Fotos del lugar</h2>

  <div class="gallery__grid">
    <div class="gallery__tile">
      <a href="./assets/images/gallery/parking.jpg" target="_blank">
        <img class="gallery__tile-content" src="./assets/images/gallery/parking.jpg" alt="Zona de aparcamiento">
      </a>
    </div>

    <div class="gallery__tile">
      <a href="./assets/images/gallery/playa-fluvial.jpg" target="_blank">
        <img class="gallery__tile-content" src="./assets/images/gallery/playa-fluvial.jpg" alt="Playa fluvial">
      </a>
    </div>

    <div class="gallery__tile">
      <a href="./assets/images/gallery/kayak.jpg" target="_blank"> 
        <img class="gallery__tile-content" src="./assets/images/gallery/kayak.jpg" alt="Descenso en kayak">
      </a>
    </div>

    <div class="gallery__tile">
      <a href="./assets/images/gallery/playa-puerto.jpg" target="_blank">
        <img class="gallery__tile-content" src="./assets/images/gallery/playa-puerto.jpg" alt="Puerto para kayaks">
      </a>
    </div>

    <div class="gallery__tile">
      <a href="./assets/images/gallery/rio-esla.webm" target="_blank">
        <video class="gallery__tile-content" autoplay muted loop src="./assets/images/gallery/rio-esla.webm"></video>
      </a>
    </div>

    <div class="gallery__tile">
      <a href="./assets/images/gallery/rio-esla.webp" target="_blank">
        <img class="gallery__tile-content" src="./assets/images/gallery/rio-esla.webp" alt="Vista del río Esla">
      </a>
    </div>
  </div>

</section>