/*------------------------------------*\
  # Global variables
\*------------------------------------*/

@use "sass:color";

// Font families
$font-family-sans-serif:
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$font-family-ubuntu: "Ubuntu", sans-serif;

// Colors based on the coat of arms of Sabero
$sabero-blue: #0071bc;
$sabero-green: #008f4c;
$sabero-gray: #e5e5e5;
$sabero-gold: #eac102;
$sabero-red: #ed1c24;
$sabero-black: #000;

// Custom colors
$website-bg: color.adjust($sabero-green, $alpha: -0.4);
$navbar-bg: color.adjust($sabero-blue, $alpha: -0.5);
$section-bg: $sabero-gray;
$footer-bg: color.adjust($sabero-blue, $alpha: -0.5);
$card-bg: color.adjust($sabero-gray, $alpha: -0.2);

$shadow-color: color.adjust($sabero-black, $alpha: -0.5);

$rating-checked: $sabero-gold;
$rating-unchecked: $sabero-gray;

// Border radius
$radius: 10px;

// Media queries
$mqMaxMobile: 767px;
$mqMinTablet: 768px;
$mqMinDesktop: 1024px;

